version: '3.8'

services:
  web:
    build: ./web
    ports:
      - "8000:5000"
    environment:
      - DB_HOST=db
      - DB_NAME=mydb
      - DB_USER=user
      - DB_PASS=password
      - REDIS_HOST=cache
      - REDIS_PORT=6379
    depends_on:
      - db
      - cache
    networks:
      - app-network

  db:
    image: postgres:13
    environment:
      - POSTGRES_DB=mydb
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
    volumes:
      - db_desafio3:/var/lib/postgresql/data
    networks:
      - app-network

  cache:
    image: redis:6-alpine
    command: redis-server --appendonly yes
    volumes:
      - cache_desafio3:/data
    networks:
      - app-network

volumes:
  db_desafio3:
  cache_desafio3:

networks:
  app-network:
    driver: bridge